@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body { background-image:url(WhatsApp\ Image\ 2026-05-07\ at\ 10.11.19.jpeg); background-size: cover; }

h1 { font-family: "Sniglet", system-ui; color:rgb(38,67,96); text-align: center; background-color: rgb(254, 254, 254); font-size: 30px;}

p { font-family: "Sniglet", system-ui; color: rgb(38,67,96); text-align: center; background-color: rgb(254, 254, 254); font-size: 20px;border-radius: 30px;}
img {
    display: block;
    margin: 0 auto;
    width: 300px;}
